<h2>my github projects</h2>
<dl id="gh_repos" class="dl-horizontal" data-github-user="geekdave" data-github-repo-count="3" data-github-skip-forks="true">
    <dt>
		<a href="https://github.com/ModelN/backbone.geppetto">geppetto</a>
		<a rel="tooltip" href="https://github.com/geekdave/geekdave.com" title="open sourced at Github">
			<img class="social_icon" src="/images/glyphicons_381_github.png" alt="github icon" title="Github" />
		</a>
	</dt>
    <dd>
        an event-driven Command framework for Backbone
        <p></p>
    </dd>
    <dt>
		<a href="https://github.com/ModelN/backbone.subroute">subroute</a>
		<a rel="tooltip" href="https://github.com/geekdave/try_git" title="open sourced at Github">
			<img class="social_icon" src="/images/glyphicons_381_github.png" alt="github icon" title="Github" />
		</a>
	</dt>
    <dd>
        module-specific subrouters for Backbone
        <p></p>
    </dd>
</dl>